<h1 align = "center">Testing Results</h1>

# Code Testing

## W3C HTML Validator

![W3C HTML Validator screenshot result](static/rm_files/w3c-validator-result.PNG)

## W3C CSS Validator

![W3C CSS Validator screenshot result](static/rm_files/jigsaw-validator-result.PNG)

## JSHint Validator

![JSHint validator screenshot result](static/rm_files/jshint-result.PNG)

## PEP8 Online Validator

![PEP8 validator screenshot result](static/rm_files/pep8-result.PNG)

## GTMetrix Validator

![GTMetrix validator screenshot result](static/rm_files/gtmetrix-result.PNG)

# Accessibility Testing

## Google Lighthouse

### Mobile

![Google lighthouse Results Mobile](static/rm_files/lighthouse-mobile.PNG)

### Desktop

![Google lighthouse Results Mobile](static/rm_files/lighthouse-desktop.PNG)

# Responsive Testing

## Google's Mobile Friendly Tester

1) ![GMFT Web screenshot result](static/rm_files/mobile-page1-test-results.PNG)
2) ![GMFT Web screenshot result](static/rm_files/mobile-page2-test-results.PNG)
3) ![GMFT Web screenshot result](static/rm_files/mobile-page3-test-results.PNG)
4) ![GMFT Web screenshot result](static/rm_files/mobile-page4-test-results.PNG)

## Responsinator

1) ![Responsinator Web screenshot result](static/rm_files/responsinator-1.PNG)
2) ![Responsinator Web screenshot result](static/rm_files/responsinator-2.PNG)
3) ![Responsinator Web screenshot result](static/rm_files/responsinator-3.PNG)
4) ![Responsinator Web screenshot result](static/rm_files/responsinator-4.PNG)

