{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-10 offset-1 mt-3 mb-3 login-div">
            <h2 class="text-center mt-3 mb-3">Log In!</h2>
            <hr class="featurette-divider">
            <!--form for user to login-->

            <br>
            <div>
                <p>New Here?
                    <!--account creation helper link-->
                    <a href="{{ url_for('create_account') }}" class="light-blue-text text-darken-4">Create an
                        Account</a>
                </p>
            </div>
        </div>
        <br>
        <hr class="featurette-divider">
    </div>
</div>
{% endblock %}