{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-10 offset-1 mt-3 container-fluid">
        <h1 class="text-center mb-3">Welcome to the Recovery Pod!</h1>
        <h2 class="text-center">Measure your recovery to perform optimally</h2>
        <hr class="featurette-divider">
        <!--If statement to see if a user is/is not in session-->
        {% if user_check != "Yes" %}
        <h4 class="text-center mt-4 home-page-check-text">Create an account to get Started!
            <span>
                <!--account creation button since not in session-->
                <a href="{{ url_for('create_account') }}" type="button" class="mt-1 btn btn-danger home-page-create-account">Create Account</a>
            </span>
        </h4>
        <br>
        <h4 class="text-center home-page-check-text">Already have an account? Login!
            <span>
                <!--login button since not in session-->
                <a href="{{ url_for('login') }}" type="button" class="mt-1 btn btn-success home-page-login">Log in</a>
            </span>
        </h4>
        <br>
        <hr class="featurette-divider">
        {% else %}
        {% endif %}
{% endblock %}